.homeWrapper {
  padding: 80px 0 0;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.subTitle {
  text-align: center;
  margin: 10px auto 40px;
   max-width: 340px;
}

.welcomeAnimationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 800px;
  max-width: 100%;
  margin: 40px auto;
}

.welcomeAnimation {
  width: 400px;
  max-width: 100%;
}

.getStartedBtn {
  width: 200px;
  height: 80px;
}

.welcomeText {
  width: 1000px;
  max-width: 50%;
  text-align: center;
  margin: 20px auto 60px;
  font-size: 1.2rem;
  font-family: "inter-regular";
}

.homeButton {
  margin-bottom: 40px;
}

.templateWrapper {
}

.cardTitle {
  text-align: center;
  text-transform: capitalize;
  margin: 10px 0;
}

.cardImage {
  width: 100%;
}
