.headerBig {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: "center";
}

.headerSmall {
  display: none;
}

.headerLinkContainer {
  padding-left: 20px;
  display: flex;
  gap: 20px;
}

.headerLink {
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
}

.headerBtnContainer {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.languageBtnContainer {
  margin-right: 20px;
}

.languageIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.headerLinkunderline {
  position: absolute;
  height: 2px;
  top: 45px;
}

@media (max-width: 600px) {
  .header {
    padding: 0;
  }

  .headerBig {
    display: none;
  }

  .headerSmall {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 64px;
  }

  .headerLinkUnderline {
    /* top: 600px !important; */
  }
}