@font-face {
  font-family: "inter-bold";
  src: url("./assets/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Inter-SemiBold.woff") format("woff"),
    url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter-regular";
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("./assets/fonts/Inter-Regular.woff") format("woff"),
    url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'geo-times';
  src: url('./assets/fonts/GeoTimes.woff2') format('woff2'),
      url('./assets/fonts/GeoTimes.woff') format('woff'),
      url('./assets/fonts/GeoTimes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'geo-times-bold';
  src: url('./assets/fonts/GeoTimesBold.woff2') format('woff2'),
      url('./assets/fonts/GeoTimesBold.woff') format('woff'),
      url('./assets/fonts/GeoTimesBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Georgian Condensed';
  src: url('NotoSansGeorgianCondensed-Bold.woff2') format('woff2'),
      url('NotoSansGeorgianCondensed-Bold.woff') format('woff'),
      url('NotoSansGeorgianCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Georgian Condensed';
  src: url('NotoSansGeorgianCondensed-Regular.woff2') format('woff2'),
      url('NotoSansGeorgianCondensed-Regular.woff') format('woff'),
      url('NotoSansGeorgianCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}