*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #3F6591 light blue */
/* #434A54 dark grey */
/* #36BC9B green */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "inter-regular" !important;
}

h1.georgian,
h2.georgian,
h3.georgian,
h4.georgian,
h5.georgian,
h6.georgian {
  font-family: "geo-times" !important;
  letter-spacing: 1.15px;
}

.App {
  font-family: "inter-regular" !important;
}

.App.georgian {
  font-family: "geo-times" !important;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-content-wrapper {
  margin: 24px 16px 0;
  padding: 24px;
  min-height: 100vh;
}

/* global styles */
.flexRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.w100 {
  width: 100%;
  max-width: 100%;
}

.dark {
  background-color: #1f1f1f;
}

.white {
  background-color: #ffffff;
}

.darkColor {
  color: #1f1f1f;
}

.whiteColor {
  color: #ffffff;
}

/* home classes */
.instructionSpan {
  font-family: "inter-regular" !important;
}

.instructionSpan.georgian {
  font-family: "geo-times" !important;
}

@media (max-width: 500px) {
  .main-content-wrapper {
    padding: 8px;
    margin: 24px 8px 0;
  }
}