.formContainer {
}

.formWrapper {
  padding: 8px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 600px;
  max-width: 100%;
}

.formItem {
  margin-bottom: 8px;
}

.collapse {
}

.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberInput {
  -moz-appearance: textfield;
}
